<!-- About Area Starts -->
<section class="about-area section-padding">
    <div class="container">
        <!-- <div class="column"> -->
        <div class="center">
            <h1>Get the perfect body with us - for free</h1>
        </div>
        <p>Getting the perfect body isn't easy - we know. But we have the tools you need to successfully do it. And best
            of all, you can signup for free, no strings attached. So put away your credit card - you'll never have to
            pay a cent.</p>
        <p>We focus on making sure you can log your meals as quickly and easily as possible. Because the easier we make
            it for you, the more likely you are to stay on track, and the more likely you are to succeed in getting the
            perfect body.</p>
        <div class="center">
            <h1>Our team</h1>
        </div>
        <div class="column">
            <div><img src="assets/images/5160312.jpg" alt=""></div>
            <div class="team">Van Tai Nguyen</div>
        </div>
        <div class="column">
            <div><img src="assets/images/51121461.png" alt=""></div>
            <div class="team">Thi Hong Tuy Vo</div>
        </div>
        <div class="column">
            <div><img src="assets/images/Photo.jfif" alt=""></div>
            <div class="team">Minh Phuong Tran</div>
        </div>
    </div>


    <!-- </div> -->
    <!-- <div class="column">
                <img class="img-fluid" src="assets/images/about.png" alt="">
        </div> -->
</section>
<!-- About Area End -->