<div class="box">
  <mat-form-field>
    <mat-label>Choose time period</mat-label>
    <select matNativeControl (change)="changePeriod($event.target.value)">
      <option value="1">Last 1 month</option>
      <option value="2">Last 2 months</option>
      <option value="6">Last 6 months</option>
      <option value="12">Last 1 year</option>
    </select>
  </mat-form-field>
  <div style="display: block;">
    <canvas baseChart width="400" height="200" [datasets]="data" [labels]="labels" [options]="lineChartOptions"
      [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
  </div>
</div>