<div class="c-box">
  <h1>Login</h1>
  <form class="v-form">
    <mat-form-field>
      <input matInput placeholder="Email" type="email">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="warn">Login</button>
    <p>
      Don't have account yet? <a color="primary" [routerLink]="['/register']">Register</a>
    </p>

  </form>

</div>
