<nav>
  <div class="container">
    <a mat-button [routerLink]="">Home</a>
    <a mat-button [routerLink]="['about']">About us</a>
    <a mat-button [routerLink]="['user','tracker']">Meal Tracker</a>
    <div class="flex-spacer"></div>
    <a mat-button [routerLink]="['login']">Login</a>
    <a mat-button [routerLink]="['register']">Register</a>
    <a mat-button [routerLink]="['user', 'profile']">Profile</a>
  </div>

</nav>

<div class="container body">
  <router-outlet></router-outlet>
</div>
