nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #673ab7;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

nav .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 0;

  color: #fff;
}

nav .mat-button {
  color: inherit;
  padding: 4px 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}


.body {
  padding: 0 16px;
  padding-top: 80px;
}
