<div class="box">
  <div class="alert alert-danger" *ngIf="!!msg">{{msg}}</div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="dateChange($event.value)"
      [value]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <form [formGroup]="form" (submit)="submit()">
    <app-fsearch (select)="foodSelect($event)"></app-fsearch>

    <div class="row">
      <div class="col-6">
        <div *ngIf="showFoodError" class="alert alert-danger">Please select food first!</div>
        <div *ngIf="!!food">
          <h4>{{food.name}}</h4>
          <ul>
            <li>Calories: {{food.calories}}</li>
            <li>Carbs: {{food.carbs}}</li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Choose meal</mat-label>
          <select matNativeControl required formControlName="type">
            <option value="0">Breakfast</option>
            <option value="1">Lunch</option>
            <option value="2">Dinner</option>
            <option value="3">Snacks</option>
          </select>
        </mat-form-field>
        <mat-form-field style="width: 70px; margin-left: 7px;">
          <input matInput placeholder="Quantity" formControlName="quantity">
        </mat-form-field>
        <p>
          <button mat-flat-button type="submit" color="warn" style="width: 100%">Add Meal</button>
        </p>
      </div>
    </div>
  </form>
</div>
<ng-container *ngIf="!!tracker">
  <div class="box">
    <div class="row">
      <div class="col-3"> Calories Needs*</div>
      <div class="col-7 cpb">
        <mat-progress-bar mode="determinate" [value]="tracker.calorieNeeds/maxCalo * 100"></mat-progress-bar>
      </div>
      <div class="col-2">{{tracker.calorieNeeds}}</div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-3">Calories Intake</div>
      <div class="col-7 cpb">
        <mat-progress-bar mode="determinate" [value]="tracker.calorieIntake/maxCalo * 100" color="warn">
        </mat-progress-bar>
      </div>
      <div class="col-2">{{tracker.calorieIntake}}</div>
    </div>
    <div class="note">*Calories Needs is calculated based on you Weight
      <b>{{tracker.weight}}</b> goal <b>{{tracker.goal}}</b>. <a [routerLink]="['/user', 'profile']">Change these?</a>
    </div>
  </div>
  <div class="box">
    <div class="list">
      <ng-container *ngFor="let i of tracker.meals">
        <div class="li">
          <div class="li-title">{{i.name}}</div>
          <div class="li-stitle">{{i.type|mealtype}} | {{i.calories}} calories | <span
              class="chip">{{i.quantity}}</span></div>
          <div class="li-action">
            <button mat-icon-button color="warn" (click)="removeMeal(i._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
  </div>
</ng-container>