<div class="c-box">
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onChangeTab($event)">
        <mat-tab label="Updating">
          <div >
            <h1>Update Profile</h1>
            <p>(So that we can care)</p>
            <form [formGroup]="form" class="v-form" (submit)="onSave($event)">
              <mat-form-field>
                <input matInput required placeholder="Weight" formControlName="weight" name="weight" type="number">
                <span matSuffix>kg</span>
              </mat-form-field>
              <mat-form-field>
                <input matInput required placeholder="Height" formControlName="height" name="height" type="number">
                <span matSuffix>cm</span>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Gender</mat-label>
                <select matNativeControl formControlName="gender" required>
                  <option value="0">Male</option>
                  <option value="1">Female</option>
                </select>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="date" placeholder="Date Of Birth" formControlName="dateOfBirth" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Activity Level</mat-label>
                <select matNativeControl formControlName="activities" required>
                  <option value="0">Sedentary</option>
                  <option value="1">Lightly active</option>
                  <option value="2">Moderately active </option>
                  <option value="3">Active</option>
                  <option value="4">Very active</option>
                </select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Goal</mat-label>
                <select matNativeControl formControlName="goal" required>
                  <option value="0">Lose weight</option>
                  <option value="1">Maintain weight</option>
                  <option value="2">Gain weight </option>
                </select>
              </mat-form-field>
              <button mat-raised-button type="submit" color="warn">Save</button>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Information">
          <div >
            <h1>Your Information</h1>
            <div>
              <p><label>Name: </label>{{user.fullname}}</p>
              <p><label>Email: </label> {{user.email}}</p>
              <p class="special"><label>BMI: </label> {{user.bmi}} <span>- {{user.bmi|bmi}}</span></p>
              <p class="special"><label>BMR: </label> {{user.bmr}}</p>
              <p class="special"><label>Calories Needs: </label> {{user.calorieNeeds}}</p>
              <p><label>Gender: </label> {{user.gender | gender}}</p>
              <p><label>Date Of Birth: </label> {{dateOfBirth}}</p>
            </div>
            <div>
              <p><label>Weight: </label> {{user.weight}} kg</p>
              <p><label>Height: </label> {{user.height}} cm</p>
              <p ngClass="active"><label>Activity Level: </label>
                <span>{{user.activities|activity}}</span>
              </p>
              <p><label>Goal: </label>
                <span>{{user.goal|goal}}</span>
              </p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
</div>

