/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import './grid.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  font-size: 13px;
  background: #eee;
}

.flex-spacer {
  flex-grow: 1;
}
.special {
  color: #673ab7;
  font-weight: bold 
}
a {
  color: #673ab7;
  text-decoration: none;
}

.v-form>* {
  width: 100%;
  display: block !important;
  margin-bottom: 15px;
}

.v-form button {
  margin: 10px 0 20px 0;
}

.c-box {
  /*max-width: 800px;*/
  margin: 40px auto;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  border-radius: 5px;
  background: #fff;
  padding: 20px 40px;
}

.box {
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  border-radius: 5px;
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, .15);
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.cpb {
  padding-top: 5px;
}

.cpb .mat-progress-bar {
  height: 8px;
}

.cpb .mat-progress-bar-buffer {
  background: #fff !important;
}

.li {
  padding: .5em 0;
  padding-right: 30px;
  position: relative;
}

.li-title {}

.li-stitle {
  font-size: .9em;
  opacity: .8;
  margin-top: 5px;
}

.li-action {
  position: absolute;
  right: 1em;
  height: 100%;
  display: flex;
  top: 0;
  align-items: center;
}

.chip {
  background: #17a2b8;
  border-radius: 100px;
  color: #fff;
  padding: 2px 8px;
  display: inline-block;
  vertical-align: middle;
}
