
<!-- About Area Starts -->
<section class="about-area section-padding">
    <div class="container">
        <h3>Fitness starts with what you eat.</h3>
        <p>Take control of your goals. Track calories, breakdown ingredients, and log activities.</p>
        <p>Study after study has confirmed the benefits of keeping track of the food you eat and the activity you do. It's simple - the more consistently you track your food intake, the more likely you are to lose weight. That's why every successful weight management program suggests that you keep a food diary and/or an activity log. But recording everything you eat without the right tools can be tedious at best, or simply impossible at worst.</p>
        <p>Keeping a food diary helps you understand your habits and increases your likelihood of hitting your goals.</p>
        <p>Save meals and use tools for fast and easy food tracking.</p>
        <a href="/register" target="_blank">Start your journey</a>
            <!-- <div class="column">
                    <img class="img-fluid" src="assets/images/about.png" alt="">
            </div> -->
    </div>
</section>
<!-- About Area End -->  


