section {
  background-image: url("../../assets/images/banner-bg.jpg");
}

.container {
    float: center;
    width: 45%;
    padding: 15px;
    font-size: 140%;
    color: lightgray
    }

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}